<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav">
    <div class="left-logo">
        <a><img src="https://img.kaikeba.com/logo-new.png"></a>
    </div>
    <div class="right-view">
        <a class="menu-item" href="/vip-course">·VIP+</a>
        {{#each courses}}
            <a href="{{url}}">{{name}}</a>
        {{/each}}
        <a class="menu-item" href="/open-courses">公开课</a>
        <a class="menu-item" href="/student">学习中心</a>
    </div>
</div>
    {{{body}}}
  </body>
=======
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {{{block 'styles'}}}
</head>
<body>
<!--导航栏-->


<!--动态partial: whichPartial是一个helper-->
{{> (whichPartial navName)}}

<!--块级partial-->
{{#> ooxx}}
    出现错误时，您会看到这句话
{{/ooxx}}

<!--使用块级partial传递内容-->
{{#> win}}
    <div>这是窗口里面的内容。。。。。。。。。。。。。</div>
{{/win}}

<!--布局组件-->
{{#> layout}}
    {{#*inline 'top'}}
        这是top
    {{/inline}}
    {{#*inline 'foo'}}
        这是foo
    {{/inline}}
    {{#*inline 'bar'}}
        这是bar
    {{/inline}}
{{/layout}}

{{{body}}}

<!--jquery-->
<script src="/javascripts/jquery.js"></script>
{{{block 'jquery'}}}

</body>
>>>>>>> f2ea80d13a1d20af6bb75d823fc4a166be34a617
</html>
